
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 999; /* Ensure it's above other elements */
  }
  
  .content-wrapper {
    transition: filter 0.3s ease; /* Add a smooth transition for the filter property */
  }
  
  .blur {
    filter: blur(4px); /* Apply blur to the content when loading */
  }